%form(name="form" novalidate)
  .columns
    .column
      %div.label.has-text-right
        %span.is-required
        %small field is required
      .control
        %label.label
          %span.is-required Service Name
        %input.input(type="text" name="name" ng-model="$ctrl.model.service_name" required)
      .control
        %label.label Request Message
        %textarea.textarea(name="request_message" placeholder="Optional: reason, purpose, or justification for ordering the service" rows="3" ng-model="$ctrl.model.request_message")
    .column
      %div(ng-switch="$ctrl.model.type")
        %settings(ng-switch-when="cloud_forms/automation/service_request" item="$ctrl.serviceRequest" on-change="$ctrl.onChange($event)")
        %settings(ng-switch-when="cloud_forms/vm/service_request" item="$ctrl.serviceRequest" on-change="$ctrl.onChange($event)")
.columns
  .column
    %button.button.is-primary(type="button" ng-if="$ctrl.onUpdate" ng-disabled="form.$invalid" ng-click="$ctrl.doUpdate();") Save Changes
    %button.button.is-danger(type="button" ng-if="$ctrl.onDelete" ng-click="$ctrl.doDelete();") Delete Request
    %button.button(type="button" ng-if="$ctrl.onCancel" ng-click="$ctrl.onCancel()") Cancel
-#%pre(ng-bind="$ctrl.model | json")
