%form(name="form" novalidate)
  .columns
    .column.is-half
      %div.label.has-text-right
        %span.is-required
        %small field is required
      .control
        %label.label
          %span.is-required Name
          %server-messages.is-error.pull-right(path="name")
            %server-message(message="filled") A name is required
        %input.input(type="text" name="name" ng-model="$ctrl.model.name" required)
      .control
        %label.label
          %span Description
          %server-messages.is-error.pull-right(path="description")
            %server-message(message="filled") A description is required
        %textarea.textarea(name="description" rows="3" ng-model="$ctrl.model.description")
      .control
        %label.label
          %span Tags
          %server-messages.is-error.pull-right(path="tag_list")
            %server-message(message="filled") A tag is required
        %tags-input(ng-model="$ctrl.tags")

.columns
  .column
    %button.button.is-primary(type="button" ng-if="$ctrl.onCreate" ng-disabled="form.$invalid" ng-click="$ctrl.doCreate();") Create Product Category
    %button.button.is-primary(type="button" ng-if="$ctrl.onUpdate" ng-disabled="form.$invalid" ng-click="$ctrl.doUpdate();") Save Changes
    %button.button.is-danger(type="button" ng-if="$ctrl.onDelete" ng-click="$ctrl.doDelete();") Delete Product Category
    %button.button(type="button" ng-if="$ctrl.onCancel" ng-click="$ctrl.onCancel()") Cancel
