%button.button.is-small.is-primary(type="button" ng-disabled="$ctrl.disabled || $ctrl.inflight" ng-click="$ctrl.validate()") Validate Credentials
%span.is-success(ng-if="$ctrl.valid")
  %span.icon
    %i.fa.fa-fw.fa-check-circle-o
  %span Credentials Verified!
