%form(name="form" novalidate)
  -#%div.label.has-text-right
  -#  %span.is-required
  -#  %small field is required
  .columns
    .column
      .control
        %label.label
          %span Enable SAML Sign-in
        %input.toggle(type="checkbox" id="samlSignin" ng-model="$ctrl.model.enable_saml" disabled)
        %label.label(for="samlSignin")

.columns
  .column
    %button.button.is-primary(type="button" ng-if="$ctrl.onSubmit" ng-disabled="true || form.$invalid" ng-click="$ctrl.doSubmit();") Save
    %button.button(type="button" ng-if="$ctrl.onCancel" ng-click="$ctrl.onCancel();") Cancel
