<p>We were last able to connect at <%= @provider.last_connected_at %></p>

<p>The current status message is: <%= @provider.status_message %></p>

<p>Please correct at <a href="<%= @site_url %>">Project Jellyfish</a> so we can revalidate and retry the connection.</p>
