.widget
  .widget--content(ng-if="$ctrl.projects.length > 0")
    .select
      %select(ng-model="$ctrl.project" ng-options="project as project.attributes.name for project in $ctrl.projects track by project.id")
    %hr.divider
    %project-spent-chart(project="$ctrl.project" ratio="0.5")
  .widget--content(ng-if="$ctrl.projects.length === 0")
    .message.is-info
      .message-body No projects to report on.
