.layout.columns.is-gapless
  .layout__hero.column.columns
    .column.is-half.is-offset-one-quarter
      .box
        %h1.title.is-3 Forgotten Password
        %code TODO: Create forgot-form component
        %forgot-form(user="$ctrl.user" message="{{ $ctrl.message }}" on-submit="$ctrl.requestPassword($event)")
      .is-small
        %a(ui-sref="auth.login") Ready to sign in?
  %app-footer.layout__footer.column.is-narrow
