%h1.title.is-4 My Requests

.columns
  .column
    %reload-button(reload="$ctrl.reload()" reloading="$ctrl.reloading")

%div(ng-if="$ctrl.projectRequests.length")
  .card.is-fullwidth
    %project-requests(project-requests="$ctrl.projectRequests" on-show="$ctrl.onView($event)")
  %div(ng-if="$ctrl.projectRequests.meta().total_pages > 1")
    %hr
    %pagination(pagination="$ctrl.projectRequests.meta()" on-change-page="$ctrl.changePage($event)")

.message.is-info(ng-if="$ctrl.projectRequests.length == 0")
  .message-body You've made no requests.
