<h3>Service <%= 'Request'.pluralize(@count) %> created by <%= @owner.name %> for <%= @project.name %></h3>

<p>Please login to <a href="<%= @site_url %>">Project Jellyfish</a> to review and approve/deny the request.</p>
