%div(ng-form name="credentials" ng-model-options="{debounce: 250}")
  .control
    %label.label
      %span.is-required Host
      %span.is-error.pull-right(ng-messages="credentials.host.$error")
        %span(ng-message="pattern") Must begin with http(s)://
    %input.input(type="text" name="host" ng-model="$ctrl.model.host" required ng-pattern="/https?:\/\//i" ng-change="$ctrl.doChange()")
  .control
    %label.label
      %span.is-required Username
    %input.input(type="text" name="username" ng-model="$ctrl.model.username" required ng-change="$ctrl.doChange()")
  .control(ng-if="$ctrl.item.id")
    %label.label
      %span Change Password?
    %input.toggle(type="checkbox" id="changePassword" ng-model="$ctrl.changePassword" ng-change="!$ctrl.changePassword && $ctrl.clear(['password'])")
    %label.label(for="changePassword")
  .control(ng-if="!$ctrl.item.id || $ctrl.changePassword")
    %label.label
      %span.is-required Password
    %input.input(type="password" name="password" ng-model="$ctrl.model.password" required ng-change="$ctrl.doChange()")
  .control(ng-if="!$ctrl.item.id || $ctrl.changePassword")
    %label.label
      %span.is-required Confirm Password
      %span.is-error.pull-right(ng-messages="credentials.passwordConfirm.$error")
        %span(ng-message="match") Passwords do not match
    %input.input(type="password" name="passwordConfirm" ng-model="passwordConfirm" required match="$ctrl.model.password")
  .control
    %validate-credentials(disabled="credentials.$invalid" provider="$ctrl.item")
