%a.button.is-dark.is-small(ng-click="$ctrl.onClick()" ng-class="{'is-active': $ctrl.compared}")
  %span.icon.is-small
    %i.fa(ng-class="$ctrl.compared ? 'fa-check-square-o' : 'fa-square-o'")
  %span Compare
