.card.is-fullwidth
  .card-content
    %article.media
      %figure.media-left
        .image.is-64x64
          %img(ng-src="images/{{::$ctrl.provider.attributes.type}}.png")
      .media-content
        .title.is-5
          %a(ng-if="::$ctrl.onShow" ng-click="$ctrl.showProvider()" ng-bind="::$ctrl.provider.attributes.name")
          %span(ng-if="::!$ctrl.onShow" ng-bind="::$ctrl.provider.attributes.name")
          %i.fa.fa-fw.fa-warning.is-danger(ng-if="!$ctrl.provider.attributes.connected" title="Provider is not connected!")
        %p.subtitle.is-6(ng-bind="::$ctrl.provider.attributes.description")
        .level
          .level-left
            .level-item(ng-repeat="tag in ::$ctrl.provider.attributes.tag_list")
              %span.tag.is-small.is-primary(ng-bind="::tag")
        -#%nav.level
        -#  .level-left
        -#    %a.level-item(ng-if="::!$ctrl.provider.attributes.connected" ng-click="$ctrl.doReconnect()")
        -#      %i.fa.fa-fw.fa-refresh
      .media-right
        %button.button.is-primary(type="button" ng-if="::$ctrl.onSelect" ng-click="$ctrl.selectProvider()") Select
        %button.button.is-primary(type="button" ng-if="::$ctrl.onUpdate" ng-click="$ctrl.updateProvider()") Update
        %button.button.is-danger(type="button" ng-if="::$ctrl.onDelete" ng-click="$ctrl.deleteProvider()") Delete
