%div(ng-form name="credentials" ng-model-options="{debounce: 250}")
  .control
    %label.label
      %span.is-required Access Key
    %input.input(type="text" name="username" ng-model="$ctrl.model.username" required ng-change="$ctrl.doChange()")
  .control(ng-if="$ctrl.item.id")
    %label.label
      %span Change Secret Key?
    %input.input.toggle(type="checkbox" id="changeSecret" ng-model="$ctrl.changeSecret" ng-change="!$ctrl.changeSecret && $ctrl.clear(['password'])")
    %label.label(for="changeSecret")
  .control(ng-if="!$ctrl.item.id || $ctrl.changeSecret")
    %label.label
      %span.is-required Secret Key
    %input.input(type="password" name="password" ng-model="$ctrl.model.password" required ng-change="$ctrl.doChange()")
  .control(ng-if="!$ctrl.item.id || $ctrl.changeSecret")
    %label.label
      %span.is-required Confirm Secret Key
      %span.is-error.pull-right(ng-messages="credentials.passwordConfirm.$error")
        %span(ng-message="match") Keys do not match
    %input.input(type="password" name="passwordConfirm" ng-model="passwordConfirm" required match="$ctrl.model.password")
  .form__buttons
    %validate-credentials(disabled="credentials.$invalid" provider="$ctrl.item")
