.modal.is-active
  .modal-background
  .modal-card
    %header.modal-card-head
      %p.modal-card-title Project Approval
      %button.delete(ng-click="$ctrl.onCancel()")
    %section.modal-card-body
      %project-request-details(project-request="$ctrl.projectRequest")
      %hr
      %form.columns(name="form" novalidate)
        .column
          %div.label.has-text-right
            %span.is-required
            %small field is required
          .control(ng-if="::$ctrl.onApprove")
            %label.label
              %span.is-required Budget
            %input.input(type="text" name="budget" ng-model="$ctrl.model.budget" required)
          .control
            %label.label
              %span Message / Reason
            %textarea.textarea(name="description" rows="3" ng-model="$ctrl.model.reason_message")
    %footer.modal-card-foot
      %button.button.is-success(type="button" ng-if="::$ctrl.onApprove" ng-disabled="form.$invalid" ng-click="$ctrl.doApprove()") Approve
      %button.button.is-danger(type="button" ng-if="::$ctrl.onDeny" ng-disabled="form.$invalid" ng-click="$ctrl.doDeny()") Deny
      %button.button(type="button" ng-if="$ctrl.onCancel" ng-click="$ctrl.onCancel();") Cancel


      -#%project-approval-form(project-request="$ctrl.projectRequest" on-approve="$ctrl.onApproved($event)" on-deny="$ctrl.onDenied($event)" on-cancel="$ctrl.onCancel()")
