.card.is-fullwidth
  .card-content
    %h1.title.is-4(ng-bind="$ctrl.serviceDetail.attributes.service_name")
  %table.table
    %tbody
      %tr
        %th ID
        %td(ng-bind="$ctrl.serviceDetail.id")
      %tr
        %th Status
        %td
          %span.tag(ng-bind="$ctrl.serviceDetail.attributes.state")
          -#%service-status-tag(service="$ctrl.serviceDetail")
      %tr
        %th Status Message
        %td(ng-bind="$ctrl.serviceDetail.attributes.status_message")
      %tr
        %th Product
        %td(ng-bind="$ctrl.serviceDetail.attributes.product_name")
      %tr
        %th Project
        %td(ng-bind="$ctrl.serviceDetail.attributes.project_name")
      %tr
        %th Cost
        %td
          %price-info(object="$ctrl.serviceDetail")
      %tr
        %th Last Status Change
        %td(ng-bind="$ctrl.serviceDetail.attributes.last_changed_at | date : 'medium'")
      %tr
        %th Last Checked
        %td(ng-bind="$ctrl.serviceDetail.attributes.last_checked_at | date : 'medium'")

-#%pre(ng-bind="$ctrl.serviceDetail.attributes | json")
