<h3>Project <%= @project_request.name %> created by <%= @project_request.user.name %></h3>
<br/>
<p>The project is pending approval.</p>

<p>Please visit: <a href="<%= @approval_url %>">Project Approvals</a> to view details and approve or deny the request.</p>
